

    <div  class="container login-page">

      <form name="loginForm" class="form-signin" id="form-login"> 
        <h2 class="form-signin-heading gesoo-login"><img src="./media/g.png" alt="Gesoo Express"></h2>
        <div class="form-group login-input">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input name="username" type="text" id="user-name" class="form-control" placeholder="Username" required autofocus>
        </div>

        <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        </div>
        <div class="checkbox text-left">
            <label>
                <input type="checkbox" value="remember-me"> 记住我
            </label>
        </div>
        <button id="submit-btn" class="btn btn-lg btn-primary btn-block gesoo-blue" type="submit">登录</button>
      </form>

    </div> <!-- /container -->


